<div
  *ngIf="!isSignedUp"
  class="d-flex justify-content-center align-items-start vh-100 pt-5"
>
  <form
    #sellerSignUp="ngForm"
    (ngSubmit)="sendData(sellerSignUp.value)"
    class="col-4 bg-light p-4 rounded shadow"
  >
    <h3 class="text-center text-primary mb-4">Seller Signup</h3>

    <div class="form-group mb-3">
      <label for="nameInput">Name</label>
      <input
        type="text"
        ngModel
        name="name"
        class="form-control"
        id="nameInput"
        placeholder="Enter name"
      />
    </div>

    <div class="form-group mb-3">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        ngModel
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted">
        We'll never share your email with anyone else.
      </small>
    </div>

    <div class="form-group mb-4">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        ngModel
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>
    <a class="signUpLink" (click)="changeToggle()"
      >Already Signed Up? Click here to Login</a
    >
  </form>
</div>

<div
  *ngIf="isSignedUp"
  class="d-flex justify-content-center align-items-start vh-100 pt-5"
>
  <!-- Sign In -->
  <form
    #sellerLogin="ngForm"
    (ngSubmit)="sendDataLogin(sellerLogin.value)"
    class="col-4 bg-light p-4 rounded shadow"
  >
    <h3 class="text-center text-primary mb-4">Seller Login</h3>

    <div class="form-group mb-3">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        ngModel
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted">
        We'll never share your email with anyone else.
      </small>
    </div>

    <div class="form-group mb-4">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        ngModel
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>

    <div *ngIf="isAuthError">
      <h6 class="text-danger">Email or Passowrd is not correct</h6>
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>

    <a class="signUpLink" (click)="changeToggle()"
      >Didn't Signed Up? Click here to SignUp</a
    >
  </form>
</div>
