<div
  id="carouselExampleCaptions"
  class="carousel slide custom-carousel"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      *ngFor="let product of popular_products; let i = index"
      [class.active]="i === 0"
      data-target="#carouselExampleCaptions"
      [attr.data-slide-to]="i"
    ></li>
  </ol>

  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let product of popular_products; let i = index"
      [class.active]="i === 0"
    >
      <div class="carousel-img-wrapper">
        <img [src]="product.imageUrl" class="d-block" [alt]="product.name" />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>

  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
